@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

p, a, i {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter Tight', sans-serif;
}


.desktop-menu li a, .desktop-login span, .m-t-menu li a, .m-t-login span {
  font-size:clamp(0.6rem, 1vw, 1rem);
  font-weight: 400;
}

p{
  font-size: clamp(0.8rem, 1.2vw, 1.5rem);
  font-weight: 400;
}

h1 {
  font-size: clamp(1.5rem, 2vw, 2.6rem);
}

h2 {
  font-size: clamp(1.2rem, 1.8vw, 2.4rem);
}


/* media queries */

